@use "../../../styles/" as *;

.recipe_form_container {
  display: block;
  width: 100%;
  height: auto;
  max-width: 1200px;
  border: 1px solid clr(primary);
  border-radius: 10px;
  padding: 25px;

  hr {
    margin: 10px 0px;
  }

  .input_image_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
      display: block;
    }

    .left_side {
      width: 45%;
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
    .right_side {
      width: 45%;
      @media screen and (max-width: 500px) {
        width: 100%;
      }

      img {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .bottom_container {
    max-width: 100%;
    padding: 10px 0px;

    .ingredients_container {
      width: 100%;
      h3 {
        font-size: fs(h3);
        padding: 10px 0px;
      }

      .ingredient_list_item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;
      }
    }

    .instructions_container {
      h3 {
        font-size: fs(h3);
        margin-bottom: 10px;
      }
      .instruction_list {
        margin-left: 20px;
        list-style: none;
        counter-reset: section;

        .instruction {
          display: flex;
          justify-content: flex-start;
          gap: 5px;
          align-items: center;
          margin-bottom: 5px;
          color: clr(neutral, light);

          .instruction_input {
            font-size: fs(p);
            width: 100%;
            border-radius: 5px;
            padding: 8px 4px 8px 8px;
            border: 2px solid clr(secondary);
            color: clr(neutral, light);
            background: clr(neutral, dark);
            &:focus {
              outline: 3px inset clr(primary);
              border: none;
            }
          }
        }
        .instruction::before {
          counter-increment: section;
          content: counter(section) ".";
          position: absolute;
          margin-left: -20px;
        }
      }
    }
  }
}
