@use "../../../styles" as *;

.login_form {
  width: 75%;
  max-width: 500px;
  margin: auto;
  padding: 25px 30px 70px 30px;
  background-color: clr(neutral, dark);
  border: 2px solid clr(primary);
  border-radius: 15px;
  z-index: 10;
  h1 {
    text-align: center;
    @include header1-typography;
    span {
      color: clr(primary);
    }
  }
  button {
    display: block;
    min-width: 200px;
    margin: 30px auto;
  }
  p {
    text-align: center;
    font-size: fs(p);
    color: clr(neutral, light);
  }
  a {
    color: clr(primary, light);
    &:hover {
      color: clr(primary, dark);
    }
  }
  @media screen and (max-width: 698px) {
    width: 90%;
  }
  @media screen and (max-width: 450px) {
    width: 98%;
  }
}
