.randomClass {
  width: 100%;
}

.signup_form {
  width: 75%;
  max-width: 550px;
  margin: auto;
  margin-top: 20px;
  padding: 15px 30px 50px 30px;
  background-color: var(--black);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  z-index: 10;
  .name_form_group {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    text-align: center;
    color: var(--white);
    padding: 15px 10px;
    span {
      color: var(--primary-color);
    }
  }
  button {
    display: block;
    min-width: 200px;
    margin: 30px auto;
  }
  p {
    text-align: center;
    color: var(--white);
  }
  a {
    color: var(--primary-color);
  }
  @media screen and (max-width: 698px) {
    width: 90%;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    border: none;
  }
}
