.randomClass {
  width: 100%;
}

.signup_form {
  width: 75%;
  max-width: 550px;
  margin: auto;
  margin-top: 20px;
  padding: 15px 30px 50px 30px;
  background-color: #1a1a1a;
  border: 2px solid #79b473;
  border-radius: 15px;
  z-index: 10;
}
.signup_form .name_form_group {
  display: flex;
  justify-content: space-between;
}
.signup_form h1 {
  text-align: center;
  color: #fafafa;
  padding: 15px 10px;
}
.signup_form h1 span {
  color: #79b473;
}
.signup_form button {
  display: block;
  min-width: 200px;
  margin: 30px auto;
}
.signup_form p {
  text-align: center;
  color: #fafafa;
}
.signup_form a {
  color: #79b473;
}
@media screen and (max-width: 698px) {
  .signup_form {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .signup_form {
    width: 100%;
    border: none;
  }
}
