@use "../../../styles/" as *;

.signup_form {
  width: 75%;
  max-width: 550px;
  margin: auto;
  margin-top: 20px;
  padding: 15px 30px 50px 30px;
  background-color: clr(neutral, dark);
  border: 2px solid clr(primary);
  border-radius: 15px;
  z-index: 10;
  .name_form_group {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }
  h1 {
    @include header1-typography;
    text-align: center;
    span {
      color: clr(primary);
    }
  }
  button {
    display: block;
    min-width: 200px;
    margin: 30px auto;
    @media screen and (max-width: 450px) {
      margin: 20px auto 10px auto;
    }
  }
  p {
    text-align: center;
    font-size: fs(p);
    color: clr(neutral, light);
  }
  a {
    color: clr(tertiary, light);
    &:hover {
      color: clr(tertiary, dark);
    }
  }
  @media screen and (max-width: 698px) {
    width: 90%;
  }
  @media screen and (max-width: 450px) {
    width: 98%;
    padding: 5px 10px 20px 10px;
  }
}
