.navbar_container {
  height: 70px;
  top: 0;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  @media screen and (max-width: 650px) {
    display: none;
  }
  .navbar_left_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .header_logo {
      width: 175px;
    }
    ul {
      display: inline;
      margin: 1rem 1rem;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          color: black;
          font-size: var(--nav-link-font-size);
          transition: color 0.5s ease;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    ul:not(:first-child) > li {
      margin: 0 1rem;
    }
  }
  .navbar_right_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: inline;
      list-style-type: none;
      margin: 1rem 0;
      a {
        text-decoration: none;
        padding: 8px 14px;
      }
    }
  }
}
