@use "../../styles/" as *;

.button {
  padding: 10px 14px;
  font-size: fs(p);
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.45s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(155, 155, 155, 0.2);
  }
}
.primary {
  background-color: clr(primary);
  color: clr(neutral, dark);
  &:hover {
    background-color: clr(primary, dark);
    color: clr(neutral, light);
  }
}

.primary[disabled] {
  background-color: clr(neutral, base);

  &:hover {
    color: clr(neutral, dark);
    cursor: initial;
    box-shadow: none;
    transform: none;
  }
}
.primary_outline {
  background-color: transparent;
  color: clr(primary);
  border: 2px solid clr(primary);
  &:hover {
    background-color: clr(primary);
    color: clr(neutral, dark);
  }
}
.secondary {
  background-color: clr(secondary);
  color: clr(neutral, dark);
  &:hover {
    background-color: clr(secondary, dark);
    color: clr(neutral, light);
  }
}
.secondary_outline {
  background-color: transparent;
  color: clr(secondary);
  border: 2px solid clr(secondary);
  &:hover {
    background-color: clr(secondary);
    color: clr(neutral, dark);
  }
}

.danger {
  background-color: clr(red);
  color: clr(neutral, light);
  &:hover {
    background-color: clr(red, dark);
  }
}

// .danger_outline {
//   color: var(--red);
//   background-color: var(--white);
//   border: 2px solid var(--red);
//   &:hover {
//     background-color: var(--red);
//     color: white;
//   }
// }
