.button {
  padding: 10px 14px;
  font-size: 18px;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.45s ease-in-out;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(155, 155, 155, 0.2);
}

.primary {
  background-color: #79b473;
  color: #1a1a1a;
}
.primary:hover {
  background-color: #528e4c;
  color: #fafafa;
}

.primary_outline {
  background-color: transparent;
  color: #79b473;
  border: 2px solid #79b473;
}
.primary_outline:hover {
  background-color: #79b473;
  color: #1a1a1a;
}

.secondary {
  background-color: #a1aaaa;
  color: #1a1a1a;
}
.secondary:hover {
  background-color: #798686;
  color: #fafafa;
}

.secondary_outline {
  background-color: transparent;
  color: #a1aaaa;
  border: 2px solid #a1aaaa;
}
.secondary_outline:hover {
  background-color: #a1aaaa;
  color: #1a1a1a;
}

.danger {
  background-color: #db5461;
  color: #fafafa;
}
.danger:hover {
  background-color: #bb2736;
}
