.button {
  padding: 10px 14px;
  font-size: 18px;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.45s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
}
.primary {
  background-color: var(--primary-color);
  color: white;
  &:hover {
    background-color: var(--primary-color-hover);
  }
}
.primary_outline {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
.secondary {
  background-color: var(--secondary-color);
  color: white;
  &:hover {
    background-color: var(--secondary-color-hover);
  }
}
.secondary_outline {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  &:hover {
    background-color: var(--secondary-color);
    color: white;
  }
}

.danger {
  background-color: red;
  color: white;
  &:hover {
    background-color: rgba(red, 0.6);
  }
}

.danger_outline {
  color: red;
  background-color: white;
  border: 1px solid red;
  &:hover {
    background-color: red;
    color: white;
  }
}
