.button {
  padding: 10px 14px;
  font-size: 18px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 8px 15px rgba(155, 155, 155, 0.2);
          box-shadow: 0px 8px 15px rgba(155, 155, 155, 0.2);
}

.primary {
  background-color: var(--primary-color);
  color: var(--black);
}

.primary:hover {
  background-color: var(--primary-color-hover);
  color: var(--white);
}

.primary_outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.primary_outline:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--black);
}

.secondary:hover {
  background-color: var(--secondary-color-hover);
  color: var(--white);
}

.secondary_outline {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.secondary_outline:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}

.danger {
  background-color: var(--red);
  color: white;
}

.danger:hover {
  background-color: var(--red-button-hover);
}
