.label {
  display: block;
  border: none;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-weight: 300;
  color: var(--white);
  z-index: 11;
  transition: all 0.35s ease;
}

.active .label {
  font-weight: 300;
  color: var(--primary-color);
  font-size: 18px;
  left: 0;
  transform: translateY(-36px);
}

.input {
  font-size: 18px;
  border-radius: 5px;
  padding: 8px 4px 10px 10px;
  border: 2px solid var(--secondary-color);
  color: white;
  background: rgba(0, 0, 0, 0);
  &:focus {
    outline: 3px inset var(--primary-color);
    border: none;
  }
}

.inputGroup {
  display: flex;
  // flex-flow: wrap row;
  position: relative;
  margin: 40px 0px 10px 0px;
  label,
  input {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
