.label {
  display: block;
  border: none;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-weight: 300;
  color: #fafafa;
  z-index: 11;
  transition: all 0.35s ease;
}

.active .label {
  font-weight: 300;
  color: #79b473;
  font-size: 18px;
  left: 0;
  transform: translateY(-36px);
}

.input {
  font-size: 18px;
  border-radius: 5px;
  padding: 8px 4px 10px 10px;
  border: 2px solid #a1aaaa;
  color: #fafafa;
  background: #1a1a1a;
}
.input:focus {
  outline: 3px inset #79b473;
  border: none;
}

.inputGroup {
  display: flex;
  position: relative;
  margin: 35px 0px 10px 0px;
}
.inputGroup label,
.inputGroup input {
  flex: 0 0 100%;
  max-width: 100%;
}
