@use "../../../styles/" as *;

.signin-li {
  .signin-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid clr(primary);
    border-radius: 0.5rem;
    font-size: 1rem;
    background: transparent;
    min-width: 150px;
    height: 50px;
    width: 100%;
    transition: all 0.4s;
    cursor: pointer;
    color: clr(primary);

    &:before {
      content: none;
    }

    &:hover span {
      padding-right: 30px;
      color: clr(primary);
    }
    &:hover span:after {
      opacity: 1;
      right: 0;
    }
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: "";
        mask: url("../../../assets/images/login.svg");
        mask-size: cover;
        position: absolute;
        opacity: 0;
        top: 1.5px;
        bottom: 0;
        width: 20px;
        right: -30px;
        transition: 0.5s;
        background-color: clr(primary);
      }
    }
  }
}
