.signin-li .signin-button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 49px;
  font-size: 18px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  color: var(--primary-color);
}

.signin-li .signin-button-link:before {
  content: none;
}

.signin-li .signin-button-link:hover span {
  padding-right: 30px;
  color: var(--primary-color);
}

.signin-li .signin-button-link:hover span:after {
  opacity: 1;
  right: 0;
}

.signin-li .signin-button-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin-li .signin-button-link span:after {
  content: "";
  -webkit-mask: url("../../../assets/images/login.svg");
          mask: url("../../../assets/images/login.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  position: absolute;
  opacity: 0;
  top: 1.5px;
  bottom: 0;
  width: 20px;
  right: -30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: var(--primary-color);
}
