@use "./styles/" as *;

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  letter-spacing: .05rem;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: clr(neutral, light);


}

body {
  /* top padding for fixed/sticky navbar */
  padding-top: 70px;
  background-color: clr(neutral, dark);
}
