.form_input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid var(--secondary-color);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.form_input:active, .form_input:focus, .form_input:focus-visible {
  outline: 2px solid var(--primary-color);
  border: none;
}
